head
  link(href='/dist/assets/css/styles.css' rel='stylesheet')
body
  main
    //- .hero.full-width
    //-   .section-wrapper.causes-beacon-container
    //-     h1.causes-header-main.navy Featured Causes
    //-     .causes-beacon-wrapper#causes-beacon-wrapper
    .more-causes.full-width
      .section-wrapper
        .icon-grid
          .icon-wrapper
            include ../../../dist/assets/img/SAM__Causes_AnimalActions.svg
            | Animal Actions
          .icon-wrapper
            include ../../../dist/assets/img/SAM__Causes_Education.svg
            | Education
          .icon-wrapper
            include ../../../dist/assets/img/SAM__Causes_Environment.svg
            | Environment
          .icon-wrapper
            include ../../../dist/assets/img/SAM__Causes_RenewableEnergy.svg
            | Renewable Energy
          .icon-wrapper
            include ../../../dist/assets/img/SAM__Causes_Health.svg
            | Health
          .icon-wrapper
            include ../../../dist/assets/img/SAM__Causes_CriminalJustice.svg
            | Criminal Justice
          .icon-wrapper
            include ../../../dist/assets/img/SAM__Causes_Food.svg
            | Food
          .icon-wrapper
            include ../../../dist/assets/img/SAM__Causes_EconomicJustice.svg
            | Economic Justice
          .icon-wrapper
            include ../../../dist/assets/img/SAM__Causes_Human_Rights.svg
            | Human Rights
          .icon-wrapper
            include ../../../dist/assets/img/SAM__Causes_Immigration.svg
            | Immigration
          .icon-wrapper
            include ../../../dist/assets/img/SAM__Causes_GenderEquality.svg
            | Gender Equality
          .icon-wrapper
            include ../../../dist/assets/img/SAM__Causes_Disability_Rights.svg
            | Disability Rights
          .icon-wrapper
            include ../../../dist/assets/img/SAM__Causes_ResponsibleConsumption.svg
            | Responsible Consumption
          .icon-wrapper
            include ../../../dist/assets/img/SAM__Causes_Oceans.svg
            | Oceans
          .icon-wrapper
            include ../../../dist/assets/img/SAM__Causes_Innovation.svg
            | Innovation


foot
  //- script(src='/dist/assets/js/beacon-swapper.js')