doctype html
head
  link(href='../../assets/css/styles.css' rel='stylesheet')
.callout-container
  .callout-wrapper
    .img-area.img-left
      img(src='../../assets/img/stay_connected.png')
    .callout-headline.headline-right
      h1.callout-header.teal Actions are Disconnected
      p.callout-subtext You sign the petitions, vote, and take action across the web. Where does it all go?
.callout-container.grey-bg
  .callout-wrapper
    .callout-headline.headline-left
      h1.callout-header.pink Tie Those Actions Together
      p.callout-subtext SAM takes all of your actions across the platforms you're already using and displays them into one unique profile, catered to you.
    .img-area.img-right
      img(src='https://placehold.it/600x300')
.callout-container
  .callout-wrapper
    .img-area.img-left
      img(src='https://placehold.it/600x300')
    .callout-headline.headline-right
      h1.callout-header.teal Media
      p.callout-subtext Find the causes you care about most. SAM (Social Action Media) will bring all of your actions together in one profile, aggregate your impact.
.info-section.teal-bg.white
  .info-main
    .text-top
      h1.info-header Connect Your Kindness Across the Web
      p.info-subtext Find the causes you care about most. SAM (Social Action Media) will bring all of your actions together in one profile, aggrefate your impact, and allow you to immediately know exactly what you're doing in the world. We'll also suggest relevant actions based on your history to keep you in the loop.
    .text-bottom
      ul.benefits
        li All your actions, one profile
        li See your impact history
        li Aggregate your social impact
        li Stay in touch with initiatives
        li Take action across the web
        li Quantify your good
  .logos.relative
    img.desktop(src='../../assets/img/desktop.png')





