//- doctype html
head
  link(href='../../assets/css/styles.css' rel='stylesheet')

.hero.full-width.white.purple-bg
  .hero-laptop
    img(src='../../assets/img/hero_laptop.png')
  .hero-headline
    h1.hero-header You're already taking action across the web. Now let's quantify it.
    p.hero-subtext Access the largest network of causes you care about with SAM. Your profile lets you track, measure and amplofy your social impact over time, all around the world. Keeping your activity involved on the front lines of change.
  button.scroll-to-footer.pink-bg Reserve a Username

.callout-container.full-width.callout-1.relative.white-bg
  .callout-wrapper.section-wrapper
    .img-area.img-left
      img(src='../../assets/img/stay_connected.png')
    .callout-headline.std-padding-left
      h1.callout-header.teal Actions are Disconnected
      p.callout-subtext You sign the petitions, vote, and take action across the web. Where does it all go?
.callout-container.grey-bg
  .callout-wrapper.section-wrapper
    .callout-headline.std-padding-left
      h1.callout-header.pink Tie Those Actions Together
      p.callout-subtext SAM takes all of your actions across the platforms you're already using and displays them into one unique profile, catered to you.
    .img-area.img-right
      img(src='https://placehold.it/600x300')
.callout-container.full-width.white-bg
  .callout-wrapper.section-wrapper
    .img-area.img-left
      img(src='https://placehold.it/600x300')
    .callout-headline.std-padding-left
      h1.callout-header.teal Media
      p.callout-subtext Find the causes you care about most. SAM (Social Action Media) will bring all of your actions together in one profile, aggregate your impact.
.info-section.teal-bg.white.full-width
  .info-main.section-wrapper
    .text-top
      h1.info-header Connect Your Kindness Across the Web
      p.info-subtext Find the causes you care about most. SAM (Social Action Media) will bring all of your actions together in one profile, aggrefate your impact, and allow you to immediately know exactly what you're doing in the world. We'll also suggest relevant actions based on your history to keep you in the loop.
    .text-bottom
      ul.benefits
        li All your actions, one profile
        li See your impact history
        li Aggregate your social impact
        li Stay in touch with initiatives
        li Take action across the web
        li Quantify your good

//- This area sucks

.logos.full-width.white-bg
  .logos-wrapper.section-wrapper.relative
    img.desktop(src='../../assets/img/desktop.png')
    img.logo(src='../../assets/img/logos.png')

//- Ok good again

.callout-container.full-width.grey-bg
  .callout-wrapper
    .img-area.img-left
      img(src='../../assets/img/stay_connected.png')
    .callout-headline.std-padding-left
      h1.callout-header.teal Actions are Disconnected
      p.callout-subtext You sign the petitions, vote, and take action across the web. Where does it all go?
.callout-container.full-width.white-bg
  .callout-wrapper
    .callout-headline.std-padding-left
      h1.callout-header.pink Tie Those Actions Together
      p.callout-subtext SAM takes all of your actions across the platforms you're already using and displays them into one unique profile, catered to you.
    .img-area.img-right
      img(src='https://placehold.it/600x300')
.callout-container.full-width.grey-bg
  .callout-wrapper
    .img-area.img-left
      img(src='https://placehold.it/600x300')
    .callout-headline.std-padding-left
      h1.callout-header.teal Media
      p.callout-subtext Find the causes you care about most. SAM (Social Action Media) will bring all of your actions together in one profile, aggregate your impact.

.features-container.full-width.teal-bg.white
  .features-wrapper.section-wrapper
    .laptop
      img(src='../../assets/img/laptop.png')
    .features-group
      .features-headline
        h1.features-header Impact through community
        p.features-subtext Easily share actions across miltiple social platforms, tell your own story about the issues that matter most to you and, even create your own campaigns. Then reach out to friends and family to rally them around your cause.
      ul.features
        li Create petitions and polls
        li Follow your friends
        li Create entire campaigns
        li Build communities around causes
        li Share across the web
        li View campaign performance





