doctype html
head
  link(href='../../../../dist/assets/css/base.css' rel='stylesheet')
footer
  .cta-container
    .cta-wrapper
      h1.pink.cta-header(-label='Footer Main Header' gv-text) Access the largest network of causes you care about with SAM.
      p.cta-subtext(-label='Footer Main Subtext' gv-textbox) Access the largest network of causes you are about with SAM. Your profile let;s you track, measure and amplify your social impact over time, all around the world. Keeping you actively involved on the front lines of change.
  .sign-up-container
    .sign-up-wrapper
      input.early-access-input(placeholder='Enter your email for early access')
      .grey-line
      button.early-access-submit Make a Difference