.causes-beacon-container
  padding-top 125px
  display flex
  flex-direction column
  align-items center

.causes-beacon-wrapper
  width 780px
  height 390px

.causes-beacon 
.causes-slide-1 
.causes-slide-2
.causes-slide-3
  width 100%
  height 100%
  
.causes-slide-1
.causes-slide-2
.causes-slide-3
  display flex
  flex-direction column

.causes-img-wrapper
.causes-beacon-img
  height 195px
  width 100%

.causes-content-area
  display flex
  
.sign-up-count
  position absolute
  right 15px
  top 10px

.causes-copy
  width 60%
  display flex
  flex-direction column
  align-items flex-start

.causes-email-form
  width 40%
  display flex
  flex-direction column

.causes-email-error
  position absolute
  top 15px
  left 15px

.causes-email-input
.causes-email-btn
  width 100%
  height 50%
  
.causes-email-btn
  display flex
  justify-content center
  align-items center
  
.icon-grid
  display flex
  flex-wrap wrap

.icon-wrapper
  display flex
  align-items center
  flex-direction column

.icon-wrapper
  width 20%
  

