// Variables

$navy = #0d3a59
$beige = #fff7ec
$brown = #e5d5be
$grey = #cfd8df
$ltGreen = #b6e293
$green = #b6e293
$yellowGreen = #c3ca6b
$yellow = #feeb75
$salmon = #f8928e
$red = #f0576b
$ltBlue = #50bdc4
$blue = #0899b4

$standardWidth = 1400px

// Base Styles
*
  font-family 'Open Sans'
  outline none
  box-sizing border-box

h1
  line-height 1.25
  font-size 2.3em
  font-weight 400
  -webkit-margin-before 0
  -webkit-margin-after 0

h2
  line-height 1.15
  font-size 2em
  font-weight 400
  -webkit-margin-before 0
  -webkit-margin-after 0

p, li
  font-weight 300
  font-size 1.1em
  line-height 1.9

body
  background-color $beige
  overflow-x hidden

// Utility Classes

.full-width
  width 100%
  display flex
  justify-content center

.section-wrapper
  width 100%
  max-width 1400px

.navy
  color $navy
.lt-beige
  color $beige
.brown
  color $brown
.grey
  color $grey
.lt-green
  color $ltGreen
.green
  color $green
.yellow-green
  color $yellowGreen
.yellow
  color $yellow
.salmon
  color $salmon
.red
  color $red
.lt-blue
  color $ltBlue
.blue
  color $blue
.white
  color #FFF
  
.navy-bg
  background-color $navy
.lt-beige-bg
  background-color $beige
.brown-bg
  background-color $brown
.grey-bg
  background-color $grey
.lt-green-bg
  background-color $ltGreen
.green-bg
  background-color $green
.yellow-green-bg
  background-color $yellowGreen
.yellow-bg
  background-color $yellow
.salmon-bg
  background-color $salmon
.red-bg
  background-color $red
.lt-blue-bg
  background-color $ltBlue
.blue-bg
  background-color $blue
.white-bg
  background-color #FFF


.relative
  position relative

.absolute
  position absolute
  
.invisible
  opacity 0
  
.actually-invisible
  visibility hidden

.actually-visible
  visibility visible

.hidden
  display none !important
  
// Animations

.fade-in
  animation fade-in .2s .2s forwards

.fade-out
  animation fade-out .2s forwards
  
@keyframes fade-in
  from
    opacity 0
  to
    opacity 1
    
@keyframes fade-out
  from
    opacity 1
  to
    opacity 0
    display none
    
.second-slide
  animation left100 1s forwards

@keyframes left100
  from
    transform translateX(0)
  to
    transform translateX(-100vw)

.third-slide
  animation left200 1s forwards
  
@keyframes left200
  from
    transform translateX(-100vw)
  to
    transform translateX(-200vw)

  
 
// Hero
.hero
  display flex
  flex-direction column
  align-items center

  z-index -1
  
.hero-laptop
  margin-top 125px

.hero-headline
  max-width 800px
  text-align center
  
.hero-subtext
  color $grey2
  
.scroll-to-footer
  width 310px
  height 50px
  color #FFF
  margin-top 35px
  font-size 16px
  border none
  margin-bottom 90px
  
.hero-placeholder
  height 1000px
  z-index -2

// Callouts

.callout-container
  width 100%
  display flex
  justify-content center

.callout-wrapper
  max-width $standardWidth
  width 100%
  display flex
  justify-content center
  align-items center
  margin 65px 0

.callout-subtext
  color $navy

.img-area
  width 55%

.callout-heading
  width 45%
  
.img-area img
  width 100%
  
.img-left
  text-align right
  img
    padding-left 50px

.img-right
  text-align left
  img
    padding-right 50px

.callout-headline
  display flex
  flex-direction column
  justify-content center
  padding 0 50px

// .std-padding-left
//   padding-left 100px

.callout-header
  margin-bottom 20px

.callout-subtext
  margin-top 0
  color $grey2
  max-width 475px
  
// Benefits Section



.benefits
  display flex
  justify-content center
  background linear-gradient(to right, $ltGreen 0%, $ltBlue 100%)

.benefits-main
  padding 100px 50px 0 50px
  max-width $standardWidth
  width 100%

.benefits-subtext
  max-width 45%
  margin-bottom 0
  font-size 1.1rem

.info-continued
  margin-top 0

.desktop
  width 45vw
  position absolute
  top -428%
  right 5%

.text-bottom
  display flex
  justify-content flex-start
  
.benefits-list
  display flex
  align-content flex-start
  flex-wrap wrap
  width 50%
  li
    display flex
    justify-content flex-start
    align-items center
    width 50%
    height 100px

// Logos

.logos
  width 100%
  height 230px
  display flex
  justify-content center
  align-items center
  
.logos .logo
  width 100%
  
.logos-wrapper
  width 100%
  display flex
  justify-content center

// Features

.features-wrapper
  display flex
  justify-content center
  align-items center
  margin 170px 0
  
.features-group
  display flex
  flex-direction column
  align-items flex-start

.features-subtext
  text-align right

.features-headline
  display flex
  flex-direction column
  align-items flex-end
  
.features
  display flex
  align-content flex-start
  flex-wrap wrap
  width 100%
  li
    display flex
    justify-content flex-end
    align-items center
    width 50%
    height 100px

//Footer 

.cta-container
  width 100%
  display flex
  justify-content center
  
.background-slider
  top 0
  left 0
  width 300vw
  height 100vh
  z-index -1
  transform translateX(0) 
  background linear-gradient(to right, $ltGreen 0%, $ltBlue 33.3333%, $red 66.6666%, $yellow 100%)

.cta-wrapper
  width 43%
  display flex
  flex-direction column
  margin 175px 0
  .cta-header, .cta-subtext
    text-align center
    
.sign-up-container
  height 100vh
  width 100%
  display flex
  justify-content center
  align-items center
  color #FFF

.sign-up-wrapper
  position relative
  width 435px
  height 300px
  
.frame-1, .frame-2, .frame-3
  display flex
  flex-direction column
  align-items center
  position absolute
  top 0
  left 0
  
.frame-1
  opacity 1
  
.email-error
  position absolute
  top -15px

.frame-2, .frame-3
  opacity 0

.frame-2 .username-wrapper
  display flex
  align-items center

.check-icon, .x-icon
  width 25px
  position absolute
  top 20px
  right 0
  
.check-icon *
  fill $green
.x-icon *
  fill $red

.at
  positon absolute

.early-access-input
  width 350px
  background-color transparent
  border none
  padding 20px
  font-size 20px
  color #FFF
  text-align center
  &::placeholder 
    text-align center
    color #FFF
    font-weight 200

.early-access-submit
  width 310px
  height 50px
  color #FFF
  margin-top 35px
  font-size 16px
  border 2px solid #FFF
  background-color transparent
  
.white-line
  width 435px
  height 1px
  background-color #FFF

.thanks
  font-size 1.1em
  margin-top 50px
  text-align center





